.section {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 44px;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px #FFF, 4px 4px #333;
    animation: shimmer 1s infinite;
    user-select: none;
  }

  @keyframes shimmer {
    0% {
    text-shadow: 2px 2px #FFF, 4px 4px #333;
    }
    100% {
    text-shadow: -2px -2px #FFF, -4px -4px #333;
    }
}
  
  .image {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    border-style: groove;
    border-width: 5px;
    border-color: black;
    align-items: center;
  }
  
  .description {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    flex: 1;
    background-color: bisque;
    border-style:double;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    margin: 10px;
    user-select: none;
  }
.box{
  border-radius: 30px;
  width: 300px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}