body{
    background-image: url("../public/61de2ba956418acd9ab454ceca15bbb2.jpg");
    background-size: 100%;
    
};
.notfound{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
    font-size: 30px;
};
.MuiListItemText-root {
    text-decoration: none !important;
};