.card{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: flex-start; 
    height: 100vh; 
    color: black;
    text-align: center;
}
.image{
    width:70%;
    border-radius: 5%;
}
.cards{
    background-color: beige;
    background-size: 40px;
    width: 500px;
    border-radius: 5%;
    padding: 15px 0px;
    margin:15px 0px;
    font-size: 20px;
}
.title{
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;

}
.btn{
    width: 50%;
    height: 10%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15%;
}